language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
before_script:
  - composer self-update
  - composer install
  - phpenv rehash
script: phpunit -v --colors --coverage-text
notifications:
  email:
    - artodeto@bazzline.net
sudo: false
