language: php
php:
  - 5.6
  - 7.0
  - 7.1
before_script:
  - composer self-update
  - composer install
  - phpenv rehash
script:
  - vendor/bin/phpunit -v --colors --coverage-text
notifications:
  email:
    - artodeto@bazzline.net
sudo: false
